<div class="page">
  <!-- 1. Header -->
  <link rel="stylesheet" type="text/css" href="style.css">
  <header>
    <hgroup>
      <h1>Rene Kessler</h1>
    </hgroup>
      <h2>Full Stack Developer</h2>
      <p>Passionate full stack developer concerned with delivering scalable and attractive approach to web development that not only meets industry best practices but also provides rich, engaging experiences for the end user.</p>
  </header>
  <!-- 2a. Resume Content -->
  <section class="resume_content">
    <article>
      <h2>Professional Experience</h2>
      <section>
        <hgroup>
          <h3>Lead Developer at Instadat <span class="time">
            <time datetime="2014-02-01" class="start">2014</time> &#8211; Present
            </span></h3>
        </hgroup>
        <p><strong><!-- http://instadat.co -->Instadat</strong> <b>New York City</b></p>
        <p>Full stack development of loan explorer product utilized by Golden Tree Asset Management, a top ten US hedge fund.  Responsibility was the full design and implementation of a client facing website to utilize AI learning algorithms to make predictions about financial outcomes.</p>
          <li>Scoped, designed and deployed standardized learning templates programmed in HTML, CSS and JavaScript for consistent delivery of web-based training.</li>
          <li>Presented high fidelity prototypes using HTML, CSS and JavaScript to engage customers in interactive feedback sessions, promote rapid design exploration and identify user patterns.  </li>
          <li>Partnered in negotiating cost, schedule, and performance expectations with project leads and customers.   </li>
          <li>Provided technical support for colleagues and clients; resolving 31 formal customer support tickets in the past year.</li>
        </ul>
        <p>Assisted in defining and promoting technical avenues of growth, direction, vision and planning for the E-Learning Services Team.</p>
        <ul>
            <li>Promoted a clean, holistic, and scalable approach to the team's template architecture by using the Adobe Creative Suite. </li>
            <li>Incorporated jQuery as part of the e-learning infrastructure for DOM manipulation within Sandia's Online Learning Generation Application (OLGA).</li>
            <Li>Validated (X)HTML and HTML5 markup to ensure W3C conformance and Section 508 compliance.</li>
            <li>Produced Sandia's first mobile prototype for web-based training through the use of CSS media queries, HTML5 and jQuery. </li>
        </ul>
        <p>Researched and implemented clean coding practices and industry-touted methodologies within software development processes to ensure software quality, stability and graceful degradation. </p>
        <ul>
            <li>Used the Firefox Web Developer extension to iterate rapidly through the software development life cycle and to ensure pixel-perfect design implementation.</li>
            <li>Hand coded design specifications for accurate display in Firefox modifying, as needed, for other browsers.</li>
        </ul>
      </section>
      <section>
        <hgroup>
          <h3>Biophysics Researcher<span class="time">
            <time datetime="2009-10-20" class="start">2009</time>
            &#8211;
            <time datetime="2013-05-29" class="end">2013</time>
            </span></h3>
        </hgroup>
        <p>Laboratory researcher in the field of Biophysics at <abbr title="Johns Hopkins University>SNL</abbr> by <strong><!-- http://biophysics.med.jhmi.edu/xiao/ -->Johns Hopkins University</strong> <b>Baltimore, MD</b> </p>
        <p>Research in the laboratory of Dr. Jie Xiao focused on the division of e. coli bacteria, specifically on proteins FtsZ (filamentous temperature sensitive protein Z) and PBP3 (penicillin binding protein 3) and their biophysical attributes.  Even though penicillin was one of the first antibiotics discovered, it has turned out to be one of the most effective and has avoided bacterial resistance for many decades.  A very effective and clinically common class of antibiotics - the beta-lactem antibiotics - are direct descendants of penicillin.  The most clinically widespread and insidious antibiotic resistant bacteria, namely MRSA (methicillin resistant staphylococcus aureus) is resistant to all derivatives of penicillin.  My research was to push the imaging technology to a point where we could watch individual proteins acting in real time on this highly important division process.  Cloning, microscopy and image analysis in Matlab were the main techniques used to try to elucidate the physical mechanism of protein action during the invagination and cleavage process.</p>
      </section>
      <section>
        <hgroup>
          <h2>Internships</h2>
        </hgroup>
        <h3>Citizens Climate Lobby <span class="time">
          <time datetime="2003-07-04">Summer 2003</time>
          </span></h3>
        <p><strong><!-- http://www.simplifiedgraphics.com/ -->Simplified Graphics Studio </strong> <b>Albuquerque, NM</b></p>
        <h3>Assistant Web Designer <span class="time">
          <time datetime="2002-06-03">Summer 2002</time>
          </span></h3>
        <p><strong><!-- http://nau.edu/sbs/ihd/ -->Institute for Human Development <abbr title="Northern Arizona University">NAU</abbr> </strong> <b>Flagstaff, AZ</b></p>
      </section>
    </article>
  </section>
  <!-- 2b. Resume Technical Knowledge/Skills -->
  <div class="resume_skills">
    <aside>
      <h2>Technical Knowledge/Skills</h2>
      <section>
        <ul class="technology">
          <li>Audacity <span class="exp">7 years</span></li>
          <li>Captivate <span class="exp">7 years</span></li>
          <li>CSS <span class="exp">9 years</span></li>
          <li>CSS3 <span class="exp">2 years</span></li>
          <li>DreamWeaver <span class="exp">11 years</span></li>
          <li>Fireworks <span class="exp">9 years</span></li>
          <li>HTML <span class="exp">11 years</span></li>
          <li>HTML5 <span class="exp">2 years</span></li>
          <li>(X)HTML <span class="exp">9 years</span></li>
          <li>Illustrator <span class="exp">11 years</span></li>
          <li>InDesign <span class="exp">10 years</span></li>
          <li>JavaScript <span class="exp">6 years</span></li>
          <li>MS Office <span class="exp">9 years</span></li>
          <li>OutStart LCMS <span class="exp">2 years</span></li>
          <li>Photoshop <span class="exp">11 years</span></li>
        </ul>
        <p>Basic knowledge of the following programs:</p>
        <ul class="technology">
          <li>ColdFusion <span class="exp">7 years</span></li>
          <li>Flash <span class="exp">10 years</span></li>
          <li>PHP <span class="exp">5 years</span></li>
        </ul>
      </section>
      <h2>Formal Education</h2>
      <section>
        <h3>Brown University<span class="time">
          <time datetime="2004-05-17">5/2008</time>
          </span></h3>
        <p>Bachelors of Science in Biophysics with honors <b>Providence, RI</b></p>
        <h3>Johns Hopkins University <span class="time">
          <time datetime="2009-05-20">5/2013</time>
          </span></h3>
        <p>Masters of the Arts in Biophysics <b>Baltimore, MD</b></p>
      </section>
    </aside>
  </div>
  <!-- 3. Contact Information -->
  <footer>
    <div id="hcard-Rene-Kessler" class="vcard">
        <h3>Contact Rene Kessler</h3>
        <p class="adr"><strong>Address:</strong> <a href="http://maps.google.com/maps?q=Baltimore,%20MD" title="View on Google Maps" rel="me"><span class="locality">Baltimore, MD</span></a></p>
        <p class="tel"><strong><span class="type">Home</span>:</strong> <a href="callto:+14016800838" rel="me">401-680-0838</a></p>
        <p class="email"><strong>Email:</strong> <a href="mailto:rene@instadat.co" title="Email Rene Kessler" rel="me">rene@instadat.co</a></p>
    </div>
  </footer>
</div>
